<div th:fragment="all" id="tab1" class="tab active">
    <div class="modal-scroll">
        <div class="all-info">
            <div class="card-left">
                <article class="student-card card-common">
                    <header class="card-header">
                        <h4 class="sub-themes">기본 정보</h4>
                        <div class="status-buttons" data-visibility="current-status">
                            <button class="btn-status active s_status" data-status="ACTIVE">재원중</button>
                            <button class="btn-status cancel s_status" data-status="CANCELLED">입학취소</button>
                            <button class="btn-status closed s_status" data-status="PAUSED">휴원</button>
                            <button class="btn-status danger s_status" data-status="WITHDRAWN">탈퇴</button>
                        </div>
                    </header>
                    <section class="card-body">
                        <figure class="profile-img">
                            <img th:src="@{/image/stu-img.png}" alt="학생 프로필 이미지">
                        </figure>
                        <div class="student-top">
                            <h5 class="student-name">
                                <strong class="s_name" id="stu-name"></strong>
                            </h5>
                            <p class="student-subjects s_subjects" id="stu-subjects"></p>
                            <p class="student-tel s_phone" id="stu-phone"></p>
                        </div>
                    </section>
                    <dl class="student-details">
                        <div class="detail-row">
                            <dt>입회일</dt>
                            <dd class="s_entry" id="stu-join"></dd>
                        </div>
                        <div class="detail-row">
                            <dt>학교</dt>
                            <dd class="s_school" id="stu-school"></dd>
                        </div>
                        <div class="detail-row">
                            <dt>학년</dt>
                            <dd class="s_grade_name" id="stu-grade"></dd>
                        </div>
                        <div class="detail-row">
                            <dt>생년월일</dt>
                            <dd class="s_birth" id="stu-birth"></dd>
                        </div>
                        <div class="detail-row">
                            <dt>주소</dt>
                            <dd class="s_address" id="stu-address"></dd>
                        </div>
                        <div class="detail-row">
                            <dt>상세주소</dt>
                            <dd class="s_address_detail" id="stu-address-detail"></dd>
                        </div>
                    </dl>
                </article>

                <article class="card-common">
                    <h4 class="sub-themes">수강과목 / 회비</h4>
                    <div class="table-frame">
                        <table class="basic-table">
                            <colgroup>
                                <col width="40%">
                                <col width="60%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>과목</th>
                                <th>회비</th>
                            </tr>
                            </thead>
                            <tbody id="fee-tbody" class="stripe">
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>

            <div class="card-right">
                <div class="card-common">
                    <h4 class="sub-themes">출결</h4>
                    <form action="" class="student-form">
                        <div class="calendar-container">
                            <table class="calendar-table">
                                <thead>
                                <tr>
                                    <th>일</th>
                                    <th>월</th>
                                    <th>화</th>
                                    <th>수</th>
                                    <th>목</th>
                                    <th>금</th>
                                    <th>토</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="card-common">
                    <h4 class="sub-themes">상담내역</h4>
                    <div class="table-frame" style="max-height: 160px;">
                        <table class="basic-table content-table">
                            <colgroup>
                                <col width="30%">
                                <col width="70%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>일자</th>
                                <th>내용</th>
                            </tr>
                            </thead>
                            <tbody id="consult-tbody" class="stripe">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>