<div th:fragment="basic" id="tab2" class="tab">
    <div class="modal-scroll">
        <div class="modal-inner">

            <!-- 상태 변경 버튼 (submit 제외 / 별도 API 처리) -->
            <div class="btn-group">
                <div class="status-buttons" data-visibility="except-current">
<!--                    <button type="button" class="btn-status active s_status" data-status="ACTIVE">재원중</button>-->
<!--                    <button type="button" class="btn-status cancel s_status" data-status="CANCELLED">입학취소</button>-->
<!--                    <button type="button" class="btn-status closed s_status" data-status="PAUSED">휴원</button>-->
<!--                    <button type="button" class="btn-status danger s_status" data-status="WITHDRAWN">탈퇴</button>-->
                </div>
            </div>

            <!-- reason -->
            <div class="reason-input">
                <div class="s_student_no" style="display:none;"></div>

                <!-- 날짜 입력칸 + 달력 아이콘 -->
                <div class="withdraw-date hide-input" style="display: flex; gap: 10px; align-items: center; margin-right: 10px;">
                    <div style="position: relative;">
                        <div class="day-display">날짜를 선택해주세요</div>
                        <input type="date" id="withdraw-date" class="hidden-date hidden-picker" style="position: absolute; opacity: 0; pointer-events: none;"/>
                    </div>
                    <button type="button" class="icon-btn calendar-open">
                        <img src="/image/calendar.png" alt="달력 아이콘">
                    </button>
                </div>

                <!-- 사유 입력칸 + 변경 버튼 -->
                <div style="display: flex; gap: 10px; align-items: center;">
                    <input type="text" id="reason" name="reasonInput" placeholder="사유를 입력해주세요">
                    <button type="button" class="change-btn" id="status-change">변경</button>
                </div>
            </div>


            <!-- 기본 정보 -->
            <table class="base-info-t">
                <div class="small-title">기본 정보</div>
                <tbody>

                <tr>
                    <th>이름</th>
                    <td><input type="text" name="studentName" class="s_name"></td>

                    <th>상태</th>
                    <td>
                        <div class="status-buttons" data-visibility="current-status">
                            <button type="button" class="btn-status active s_status" data-status="ACTIVE">재원중</button>
                            <button type="button" class="btn-status cancel s_status" data-status="CANCELLED">입학취소</button>
                            <button type="button" class="btn-status closed s_status" data-status="PAUSED">휴원</button>
                            <button type="button" class="btn-status danger s_status" data-status="WITHDRAWN">탈퇴</button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>생년월일</th>
                    <td class="day-picker" style="position: relative;">
                        <div class="icon-field">
                            <div class="birth-display s_birth"></div>
                            <div>
                                <input type="date" class="hidden-date" id="birth-date" name="birth">
                                <button type="button" class="icon-btn">
                                    <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                                </button>
                            </div>
                        </div>
                    </td>

                    <th>성별</th>
                    <td class="choose-group gender-group">
                        <button type="button" class="btn-choose s_gender" data-value="1">남자</button>
                        <button type="button" class="btn-choose s_gender" data-value="0">여자</button>
                        <input type="hidden" name="gender" class="gender-hidden" value="0">
                    </td>
                </tr>

                <tr>
                    <th>학교</th>
                    <td class="icon-field">
                        <input type="text" name="school" class="s_school">
                        <button type="button" class="icon-btn search-school">
                            <img th:src="@{/image/search.png}" alt="검색 아이콘">
                        </button>
                    </td>

                    <th>주소</th>
                    <td class="icon-field">
                        <input type="text" name="address" class="s_address" readonly id="address-input" style="flex: 2;">
                        <button type="button" class="icon-btn" onclick="openJusoPopup()">
                            <img th:src="@{/image/search.png}" alt="검색 아이콘">
                        </button>
                    </td>
                </tr>

                <tr>
                    <th>학년</th>
                    <td><select name="gradeNo" class="grade-select s_grade"></select></td>

                    <th>상세주소</th>
                    <td><input type="text" name="addressDetail" class="s_address_detail" id="address-detail-input"></td>
                </tr>

                <tr>
                    <th>부모님HP</th>
                    <td><input type="tel" name="parentPhone" class="s_phone"></td>

                    <th>학생과의 관계</th>
                    <td class="choose-group relation-group">
                        <button type="button" class="btn-choose" data-value="father">부</button>
                        <button type="button" class="btn-choose" data-value="mother">모</button>
                        <button type="button" class="btn-choose" data-value="other">기타</button>
                        <input type="hidden" class="relation-hidden" name="relationship" value="">
                    </td>
                </tr>

                <tr>
                    <th>청구서 발송<br>전화번호</th>
                    <td>
                        <input type="tel" name="cashReceipt" class="s_billing_phone" placeholder="010-1234-5678"
                               style="border:1px solid #e9eaec; padding:8px; width:290px; border-radius:5px;">
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="save-btn-frame">
                <button type="submit" class="save-btn" id="update-btn">저장</button>
            </div>
            <!-- 형제 정보 -->
            <table class="base-info-t">
                <div class="small-title">형제 정보</div>
                <tbody>
                <tr>
                    <th>현재 형제</th>
                    <td>
                        <table class="base-info-t" id="current-sibling-table" style="width:100%; text-align:center;">
                            <thead>
                            <tr>
                                <th style="text-align:center;">이름</th>
                                <th style="text-align:center;">학년</th>
                                <th style="text-align:center;">학교</th>
                                <th style="text-align:center;">삭제</th>
                            </tr>
                            </thead>
                            <tbody id="current-sibling-tbody">
                            <tr>
                                <td colspan="4" style="text-align:center;">형제 없음</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>형제 연결</th>
                    <td>
                        <div class="checkbox-group round cash-type" style="margin-bottom:10px;">
                            <select id="nameSelect" name="familySearchKey">
                                <option value="name">이름</option>
                                <option value="phone">전화번호</option>
                            </select>
                            <input type="text" id="familySearchValue" name="familySearchValue"
                                   style="border:1px solid #e9eaec; padding:8px; width:290px; border-radius:5px;">
                            <div class="explore common-btn" id="family-search-btn">검색</div>
                        </div>

                        <!-- 검색 결과 테이블 -->
                        <table class="base-info-t" id="family-search-result" style="display:none; margin-top:10px; width:100%; text-align:center;">
                            <thead>
                            <tr>
                                <th style="text-align:center;">이름</th>
                                <th style="text-align:center;">학년</th>
                                <th style="text-align:center;">학교</th>
                                <th style="text-align:center;">전화번호</th>
                                <th style="text-align:center;">연결</th>
                            </tr>
                            </thead>
                            <tbody id="family-search-tbody">
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>

                </thead>
                <tbody>
                <tr>

                </tr>
                </tbody>
            </table>
            <!--            &lt;!&ndash; 입회 정보 &ndash;&gt;-->
            <!--            <h4 class="small-title">입회 정보</h4>-->
            <!--            <table class="base-info-t">-->
            <!--                <tbody>-->
            <!--                <tr>-->
            <!--                    <th>한자 입회</th>-->
            <!--                    <td class="icon-field day-picker" style="position: relative;">-->
            <!--                        <div class="birth-display s_entry_han_date"></div>-->
            <!--                        <div>-->
            <!--                            <input type="date" class="hidden-date" id="entry-han-date" name="s_entry_han_date">-->
            <!--                            <button type="button" class="icon-btn">-->
            <!--                                <img th:src="@{/image/calendar.png}" alt="달력 아이콘">-->
            <!--                            </button>-->
            <!--                        </div>-->
            <!--                    </td>-->

            <!--                    <th>독서 입회</th>-->
            <!--                    <td class="icon-field day-picker" style="position: relative;">-->
            <!--                        <div class="birth-display s_entry_book_date"></div>-->
            <!--                        <div>-->
            <!--                            <input type="date" class="hidden-date" id="entry-book-date" name="s_entry_book_date">-->
            <!--                            <button type="button" class="icon-btn">-->
            <!--                                <img th:src="@{/image/calendar.png}" alt="달력 아이콘">-->
            <!--                            </button>-->
            <!--                        </div>-->
            <!--                    </td>-->
            <!--                </tr>-->
            <!--                </tbody>-->
            <!--            </table>-->


        </div>
    </div>
</div>
