<div th:fragment="payment" id="tab3" class="tab">
    <div class="modal-scroll">
        <div class="modal-inner">
            <div class="small-title" style="margin-top: 30px;">수강과목(한자)</div>
            <table class="base-info-t">
                <tbody>
                <tr>
                    <th>한자 단계</th>
                    <td>
                        <input type="text" class="styled-input s_han_class" readonly>
                    </td>
                    <th>수강 상태</th>
                    <td class="choose-group" data-type="han">
                        <button type="button" class="btn-choose" data-value="active">수강</button>
                        <button type="button" class="btn-choose" data-value="inactive">미수강</button>
                        <input type="hidden" name="hanStatus" value="inactive"/>
                    </td>
                </tr>
                <tr>
                    <th>담당 선생님</th>
                    <td>
                        <input type="text" class="styled-input p_han_teacher" readonly>
                    </td>

                    <th>시작일자</th>
                    <td class="day-picker" style="position: relative;">
                        <div class="icon-field">
                            <div class="birth-display s_birth">날짜를 선택하세요.</div>
                            <div>
                                <input type="date" class="hidden-date" id="entry-han-date" name="s_entry_han_date">
                                <button type="button" class="icon-btn">
                                    <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                                </button>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th class="tuition-fee">교육비</th>
                    <td>
                        <input type="text" name="hanFee" class="no-spin p_han_fee" id="hanFee" readonly>
                    </td>
                    <th>교재비</th>
                    <td>
                        <input type="text" name="hanMaterialFee" class="no-spin  p_han_material_fee" id="hanMaterialFee">
                    </td>
                </tr>
                </tbody>

            </table>
            <!-- 수강과목(독서) -->
            <div class="small-title">수강과목(독서)</div>
            <table class="base-info-t" style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th>독서 단계</th>
                    <td>
                        <input type="text" class="styled-input s_book_class" readonly>
                    </td>
                    <th>수강 상태</th>
                    <td data-type="book">
                        <div class="choose-group" data-type="book">
                            <button type="button" class="btn-choose" data-value="active">수강</button>
                            <button type="button" class="btn-choose" data-value="inactive">미수강</button>
                            <input type="hidden" name="bookStatus" value="inactive" readonly/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>담당 선생님</th>
                    <td>
                        <input type="text" class="styled-input p_book_teacher" readonly>
                    </td>
                    <th>시작일자</th>
                    <td class="day-picker" style="position: relative;">
                        <div class="icon-field">
                            <div class="birth-display s_birth">날짜를 선택하세요.</div>
                            <div>
                                <input type="date" class="hidden-date" id="entry-book-date" name="s_entry_book_date" placeholder="날짜를 선택하세요.">
                                <button type="button" class="icon-btn">
                                    <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="tuition-fee">교육비</th>
                    <td>
                        <input type="text" name="bookFee" class="no-spin p_book_fee" id="bookFee" readonly>
                    </td>
                    <th>교재비</th>
                    <td>
                        <input type="text" name="bookMaterialFee" class="no-spin p_book_material_fee" id="bookMaterialFee">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="dues-sum">
                <p>회비 합계&nbsp;&nbsp;<span> 0</span>&nbsp;원</p>
            </div>
            <!--            <div class="save-btn-frame">-->
            <!--                <button class="save-btn" id="student-tab-3-save-btn">저장</button>-->
            <!--            </div>-->
            <div class="save-btn-frame">
                <button type="submit" class="save-btn" id="pay-info">저장</button>
            </div>
        </div>
    </div>
</div>
