<div th:fragment="consult" id="tab5" class="tab">
    <div class="modal-scroll">
        <div class="card-common" style="border: none;">
            <div class="small-title" style="margin-bottom: 30px;">상담내역</div>
            <div class="table-frame bt">
                <table class="basic-table content-table">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>일자</th>
                        <th>내용</th>
                    </tr>
                    </thead>
                    <tbody id="consult-tbody" class="stripe">
                    <tr>
                        <td>2015/01-28</td>
                        <td>성적이 많이 올라서 학부모님과 월반 관련 상담을 진행함. 윗 학년 친구들과 수업이 가능할 듯하여 대기 후 매칭될 경우 한 학년을
                            올려서 수업을 진행.</td>
                    </tr>
                    <tr>
                        <td>2015/01-15</td>
                        <td>잦은 결석으로 보강 일수가 늘어서 학부모님과 상담을 진행함. 주중에 시간을 내기 힘들어 토요일 반으로 변경을 요청하심. 반이
                            없어서 우선 대기를 걸어둠.</td>
                    </tr>
                    <tr>
                        <td>2015/01-3</td>
                        <td>호호 유치원 출신. 한자는 장원 한자 수업을 꾸준히 해 왔고 수업도 책나무 같은 논술 수업을 꾸준히 받고 있다고 함. 수업 보강용
                            자료 요청하셔서 드릴 수 있도록
                            조치함.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
