<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Custom Css / Js -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/media.css}">
  <script th:src="@{/js/custom.js}"></script>
  <!-- Html menu Load -->
  <script th:src="@{/js/sidebar.js}"></script>
  <title>전입/전출</title>
</head>

<body>
  <div class="main-container">
    <div class="main-frame">
      <!-- left nav bar -->
      <div class="sidebar-load" th:replace="~{sidebar :: sidebar}"></div>
      <main class="main-info">
        <div class="second-frame">
          <!-- section:left -->
          <section class="move-summary">
            <div class="inout-head">
              <div class="common-title">
                <h2>전입 / 전출</h2>
              </div>
              <div class="inout-btns">
                <div class="print">
                  <a class="print-title" href="print-student-inout.html">인쇄</a>
                </div>
                <div class="common-btn inout-btn" id="btn-inout" data-type="inout" onclick="clickInOutModal(this)">
                  전입/전출내역</div>
              </div>
            </div>
            <div class="info-filters">
              <div class="info-arrange">
                <div class="stu-left">
                  <div class="basic-select sl1">
                    <select name="student" id="student-filter">
                      <option value="student1">전체 학생</option>
                      <option value="student2">김호일</option>
                      <option value="student3">김호이</option>
                      <option value="student3">김호삼</option>
                    </select>
                  </div>
                  <div class="basic-select sl2">
                    <select name="subject" id="subject-filter">
                      <option value="all">화 19:00~19:50 초등천재 3호</option>
                      <option value="">영재</option>
                      <option value="">수재</option>
                      <option value="">신동</option>
                      <option value="">천재</option>
                    </select>
                  </div>
                </div>
                <div class="stu-right">
                  <div class="sl3">
                    <div class="basic-select" style="flex: 1;">
                      <select name="stuName" id="stu-name">
                        <option value="all">이름</option>
                        <option value="">김호호</option>
                        <option value="">김호호</option>
                        <option value="">김호호</option>
                        <option value="">김호호</option>
                      </select>
                    </div>
                    <div class="search-box" style="flex: 2;">
                      <input type="text" id="search-name" name="searchName">
                    </div>
                  </div>
                  <div class="explore common-btn sl4">검색</div>
                </div>
              </div>
            </div>
            <div class="bt">
              <div class="table-frame move-t-frame">
                <table class="basic-table yh">
                  <colgroup>
                    <col width="5%">
                    <col width="5%">
                    <col width="15%">
                    <col width="10%">
                    <col width="20%">
                    <col width="15%">
                    <col width="20%">
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="checkbox-group">
                        <input type="checkbox" id="select-all">
                      </th>
                      <th>No</th>
                      <th><img th:src="@{/image/sort_checked.svg}" alt="" class="svg-sort">이름</th>
                      <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">연령/학년</th>
                      <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">수강과목</th>
                      <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">전입일</th>
                      <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">담임</th>
                    </tr>
                  </thead>
                  <tbody id="student-tbody" class="stripe">
                    <tr th:each="s, iterStat : ${students}" th:data-id="${s.studentNo}" th:data-name="${s.studentName}"
                      onclick="clickInOutModal(this)">
                      <td class="checkbox-group">
                        <input type="checkbox" class="row-checkbox" th:value="${s.studentNo}"
                          onclick="event.stopPropagation();" name="studentNo" form="inout-form">
                      </td>
                      <td th:text="${iterStat.count}">1</td>
                      <td th:text="${s.studentName}">김호일 </td>
                      <td th:text="${s.grade}">초1</td>
                      <td th:text="${s.hanClass != null && s.bookClass != null ? s.hanClass + ', ' + s.bookClass 
                                  : (s.hanClass != null ? s.hanClass 
                                  : (s.bookClass != null ? s.bookClass : ''))}">초등천재, 새움</td>
                      <td th:text="${#dates.format(s.createdAt, 'yyyy.MM.dd')}">2025.06.27</td>
                      <td th:text="${s.hanTeacher != null && s.bookTeacher != null ? s.hanTeacher + '(한자), ' + s.bookTeacher +'(독서)'
                                  : (s.hanTeacher != null ? s.hanTeacher + '(한자))'
                                  : (s.bookTeacher != null ? s.bookTeacher + '(독서)' : ''))}">김하나(한), 김다섯(독)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          <!-- section:right -->
          <section class="move-desc">
            <div class="move-reason">
              <div class="move-reason-frame">
                <div class="common-title">
                  <h2>전입 / 전출</h2>
                </div>
                <form th:action="@{/student/inout}" method="post" class="inout-form" id="inout-form">
                  <div class="detail-sub">
                    <h4>전출과목</h4>
                  </div>
                  <div class="input-row">
                    <div class="checkbox-group">
                      <input type="checkbox" id="inout-han" name="inoutHan" value="1">한자수업
                    </div>
                    <div class="checkbox-group" style="margin-left: 10px;">
                      <input type="checkbox" id="inout-read" name="inoutRead" value="2">독서수업
                    </div>
                  </div>
                  <div class="form-line"></div>
                  <div class="detail-sub">
                    <h4>전출 일자</h4>
                  </div>
                  <div class="icon-field">
                    <div class="display-date"></div>
                    <div style="position: relative;">
                      <input type="date" class="hidden-date datepicker" name="moveAt">
                      <button type="button" class="icon-btn calendar-open">
                        <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                      </button>
                    </div>
                  </div>
                  <div class="form-line"></div>
                  <div class="detail-sub">
                    <h4>전입할 선생님</h4>
                  </div>
                  <div class="input-row">
                    <div class="basic-select" style="width: 100%;">
                      <select name="teacherNo" id="teacher-filter">
                        <th:block th:each="teacher : ${teachers}">
                          <option th:value="${teacher.userNo}" th:text="${teacher.username + ' 선생님'}"></option>
                        </th:block>
                      </select>
                    </div>
                  </div>
                  <div class="form-line"></div>
                  <div class="detail-sub">
                    <h4>사유</h4>
                  </div>
                  <div class="input-row">
                    <textarea id="consult-content" name="transferReason" rows="7"
                      placeholder="전출 사유를 작성해 주세요."></textarea>
                  </div>
                  <button type="submit" class="save-btn">저장하기</button>
                </form>
              </div>
            </div>

            <!-- section: inout-modal -->
            <div class="modal inout-modal">
              <div class="move-list">
                <div class="move-list-frame">
                  <div class="m-t-line">
                    <div class="title inout-modal-title">전체 전입/전출 내역</div>
                    <a href="#" class="btn-close"></a>
                  </div>
                  <div class="icon-field basic-input cal-adjust">
                    <span>2024-07 ~ 2025-06</span>
                    <button class="icon-btn" style="background: transparent;">
                      <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                    </button>
                  </div>
                  <div class="bt">
                    <div class="table-frame move-frame">
                      <table class="basic-table content-table yh">
                        <colgroup>
                          <col width="10%">
                          <col width="15%">
                          <col width="10%">
                          <col width="15%">
                          <col width="15%">
                          <col width="15%">
                          <col width="20%">
                        </colgroup>
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>일자</th>
                            <th>이름</th>
                            <th>수강과목</th>
                            <th>전출 선생님</th>
                            <th>전입 선생님</th>
                            <th>사유</th>
                          </tr>
                        </thead>
                        <tbody id="consult-tbody" class="stripe inout-modal-body">
                          <tr>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </div>
</body>
<script>

  const selectAll = document.getElementById('select-all');
  const rows = document.querySelectorAll('#student-tbody .row-checkbox');

  selectAll.addEventListener('change', () => {
    rows.forEach(cb => cb.checked = selectAll.checked);
  });

  rows.forEach(cb => {
    cb.addEventListener('change', () => {
      const allChecked = Array.from(rows).every(r => r.checked);
      selectAll.checked = allChecked;
    });
  });
</script>

</html>