<div class="modal student-modal" th:fragment="studentMainModal">
    <div class="stu-m-con">
        <div class="m-t-line" style="margin-bottom: 30px;">
            <div class="title">
                <span class="s_name"></span>학생 상세정보
            </div>
            <a href="#" class="btn-close"></a>
        </div>

        <div class="info-tab-inner">
            <div class="info-tab-btn">
                <a href="#1" data-tab="tab1" class="active">전체</a>
                <a href="#2" data-tab="tab2">기본정보</a>
                <a href="#3" data-tab="tab3">수강과목/회비</a>
                <a href="#4" data-tab="tab4">출결</a>
                <a href="#5" data-tab="tab5">상담내역</a>
            </div>

            <div class="info-tab-content">
                <section th:replace="~{student/main_modal/student-modal-all :: all}"></section>
                <section th:replace="~{student/main_modal/student-modal-basic :: basic}"></section>
                <section th:replace="~{student/main_modal/student-modal-payment :: payment}"></section>
                <section th:replace="~{student/main_modal/student-modal-attendance :: attendance}"></section>
                <section th:replace="~{student/main_modal/student-modal-consult :: consult}"></section>

            </div>
        </div>
    </div>
</div>