<div class="modal add-cashbill-modal" th:fragment="addCashbillModal">
    <div class="pay-m-list">
        <div class="pay-m-frame">
            <div class="m-t-line " style="margin: 10px 10px 40px 10px;">
                <div>
                    <div class="title">현금영수증 발행</div>
                </div>
                <a href="#" class="btn-close"></a>
            </div>
            <div class="plt-m-inner bt">
                <div class="m-scroll table-frame">
                    <table class="basic-table plt-m-table yh">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="15%">
                            <col width="35%">
                            <col width="20%">
                            <col width="10%">
                        </colgroup>
                        <thead class="mb">
                        <tr>
                            <th>No</th>
                            <th>이름</th>
                            <th>현금/계좌이체 내역</th>
                            <th>발급구분</th>
                            <th>발급번호</th>
                            <th>금액</th>
                        </tr>
                        </thead>
                        <tbody class="stripe">
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>김호일</td>
                            <td>220,000</td>
                            <td class="cash-check">
                                <div class="checkbox-group round">
                                    <label><input type="checkbox" checked> 개인 소득공제용</label>
                                    <label><input type="checkbox"> 사업자 지출증빙용</label>
                                </div>
                            </td>
                            <td>
                                <div class="td-inputs">
                                    <input type="text" name="overpayment" class="td-input" placeholder="01012345678">
                                </div>
                            </td>
                            <td class="payment">220,000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="save-btn-frame" style="padding: 20px;">
                <div class="common-btn pay-issue">발행</div>
            </div>
        </div>
    </div>
</div>