<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Custom Css / Js -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/class/remedial.js}"></script>
    <!-- Html menu Load -->
    <script th:src="@{/js/sidebar.js}"></script>
    <title>보강 관리</title>
</head>

<body>
<div class="main-container">
    <div class="main-frame sup-frame">
        <!-- left nav bar -->
        <aside id="sidebar-load" th:replace="~{sidebar :: sidebar}"></aside>
        <main class="main-info supplement" style="width: 95%;">
            <div class="line-second-frame">
                <!-- section:left -->
                <section class="sup-left">
                    <div class="inout-head">
                        <div class="common-title">
                            <h2>보강관리</h2>
                        </div>
                    </div>
                    <div class="month-header2" style="padding: 0px; margin-bottom: 15px;">
                        <div class="month-title">
                            <span class="current-month" id="currentMonth"></span>
                            <div style="position: relative;">
                                <div class="calendar-wrapper">
                                    <input type="month" id="monthPickerInput" style="position:absolute; opacity:0; width:0; height:0;">
                                    <button type="button" class="icon-btn calendar-open" id="openMonthPicker">
                                        <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bt">
                        <div class="table-frame">
                            <div class="table-body-scroll">
                                <table class="basic-table yh">
                                    <colgroup>
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="10%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead id="remedialLeftHead">
                                    <tr>
                                        <th>No</th>
                                        <th><img th:src="@{/image/sort_checked.svg}" alt="" class="svg-sort">이름</th>
                                        <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">결석일자</th>
                                        <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">보강과목</th>
                                        <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">보강일자</th>
                                        <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">선생님</th>
                                        <th class="checkbox-group">보강여부</th>
                                    </tr>
                                    </thead>

                                    <tbody id="student-tbody-left" class="stripe">

                                    <tr th:each="item, iterStat : ${leftRemedials}" th:data-id="${item.remedialKey}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${item.studentName}"></td>
                                        <td th:text="${item.absenceDate}"></td>
                                        <td th:text="${item.remedialSubject}"></td>
                                        <td class="cal-content">
                                            <div class="icon-field time-input cal-adjust" style="margin-bottom: 0;">
                            <span class="selected-datetime"
                                  th:text="${item.remedialDate == '9999-12-31'} ? '날짜를 선택하세요' : ${item.remedialDate}">
                            </span>
                                                <input type="date" class="datetime-input hidden-picker"/>
                                                <button type="button" class="icon-btn calendar-btn" style="background: transparent;">
                                                    <img th:src="@{/image/calendar.png}" alt="달력 아이콘"/>
                                                </button>
                                            </div>
                                        </td>
                                        <!-- <td class="cal-content" th:text="${item.remedialDate}"></td> -->
                                        <td th:text="${item.userName}"></td>
                                        <td class="checkbox-group">
                                            <input type="checkbox"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="divider"></div>
                <!-- section:right -->
                <section class="sup-right">
                    <div class="sup-list">보강 완료 내역</div>
                    <div class="bt">
                        <div class="table-frame">
                            <table class="basic-table yh">
                                <colgroup>
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="10%">
                                    <col width="10%">
                                </colgroup>
                                <thead id="remedialRightHead">
                                <tr>
                                    <th>No</th>
                                    <th><img th:src="@{/image/sort_checked.svg}" alt="" class="svg-sort">이름</th>
                                    <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">결석일자</th>
                                    <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">보강과목</th>
                                    <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">보강일자</th>
                                    <th><img th:src="@{/image/sort.svg}" alt="" class="svg-sort">선생님</th>
                                    <th class="checkbox-group">보강여부</th>
                                </tr>
                                </thead>
                                <tbody id="student-tbody-right" class="stripe">
                                <tr th:each="item, iterStat : ${rightRemedials}" th:data-id="${item.remedialKey}">
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${item.studentName}"></td>
                                    <td th:text="${item.absenceDate}"></td>
                                    <td th:text="${item.remedialSubject}"></td>
                                    <td class="cal-content"
                                        th:text="${item.remedialDate == '9999-12-31' ? '날짜를 선택하세요.' : item.remedialDate}"></td>
                                    <td th:text="${item.userName}"></td>
                                    <td class="checkbox-group">
                                        <input type="checkbox" checked="checked"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>

</html>