<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Custom Css / Js -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <script th:src="@{/js/custom.js}"></script>
    <title>시간표 조회</title>
</head>
<body style="height: 297mm">
<div class="a4-print">
    <div class="month-header month-today">
        <div class="month-title">
            <div class="empty-area" style="width: 200px"></div>
            <span class="current-month" id="currentMonth"></span>
            <div style="position: relative;">
                <div class="calendar-wrapper">
                    <span class="current-month"
                          th:text="${yy + '년 ' + mm + '월'}"></span>
                </div>
            </div>
        </div>
        <span>
        담당 선생님 : <span th:text="${selectedUser.userName}"></span>
        </span>

        <!--        <div class="basic-select">-->
        <!--            <select name="teacher" id="teacher-select" style="width: 200px;">-->
        <!--                <th:block th:each="u : ${users}">-->
        <!--                    <option th:value="${u.userCode}" th:text="${u.userName + ' 선생님'}"-->
        <!--                            th:selected="${u.userCode == selectedUserCode}">-->
        <!--                    </option>-->
        <!--                </th:block>-->
        <!--            </select>-->
        <!--        </div>-->
    </div>
    <!-- table -->
    <table class="timetable-lookup-table">
        <thead>
        <tr>
            <th style="padding: 0;font-size: 14px; position: static">교시</th>
            <th th:each="day : ${days}" th:text="${day.label}" style="font-size: 14px;position: static;"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="periodNo : ${#numbers.sequence(1,6)}">
            <td th:text="${periodNo}" style="font-size: 14px">1</td>
            <td th:each="day : ${days}" th:with="dayMap=${tableMap[day.id]}" style="vertical-align: top; height: 125px; padding: 2px">
                <div th:if="${dayMap != null and dayMap[periodNo.toString()] != null}"
                     th:with="tt=${dayMap[periodNo.toString()]}">
                    <div th:class="timetable-lookup-box" th:classappend="${tt.classType eq '1'} ? ' pink' : ' blue'">
                        <div class="print-timetable-header" th:utext="${tt.startTime} + ' ~ ' + ${tt.endTime} + '<br>
                            <strong>' + ${tt.className} + ' ' + ${tt.unitName} + '</strong>'">
                        </div>
                        <div class="inner-grid">
                            <div th:each="stu : ${tt.students}"
                                 th:with="name=${stu.studentName != null ? stu.studentName : ''}, grade=${stu.gradeName}" style="padding: 1px; line-height: 1.3">
                                <span th:text="${name}" style="font-size: 11px"></span><span th:if="${grade}" th:text="'(' + ${grade} + ')'" style="font-size: 9px"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <section>
        <table class="timetable-lookup-table">
            <thead>
            <tr>
                <th style="padding: 0"></th>
                <th th:text="'입회 ('+ ${statsMap['entry'] != null ? statsMap['entry'].size() : 0} +'명)'">0</th>
                <th th:text="'탈퇴 ('+ ${statsMap['withdraw'] != null ? statsMap['withdraw'].size() : 0} +'명)'">0</th>
                <th th:text="'전입 ('+ ${statsMap['move_in'] != null ? statsMap['move_in'].size() : 0} +'명)'">0</th>
                <th th:text="'전출 ('+ ${statsMap['move_out'] != null ? statsMap['move_out'].size() : 0} +'명)'">0</th>
                <th th:text="'1-3주 ('+ ${statsMap['week'] != null ? statsMap['week'].size() : 0} +'명)'">0</th>
                <th th:text="'주의필요 ('+ ${statsMap['null'] != null ? statsMap['null'].size() : 0} +'명)'">0</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><span th:each="stat, iterStat : ${statsMap['entry']}" th:if="${statsMap['entry'] != null}">
                                    <span th:text="${stat.studentName}"></span><span th:if="${!iterStat.last}">, </span>
                                </span>
                </td>
                <td><span th:each="stat, iterStat : ${statsMap['withdraw']}" th:if="${statsMap['withdraw'] != null}">
                                    <span th:text="${stat.studentName}"></span><span th:if="${!iterStat.last}">, </span>
                                </span></td>
                <td><span th:each="stat, iterStat : ${statsMap['move_in']}" th:if="${statsMap['move_in'] != null}">
                                    <span th:text="${stat.studentName}"></span><span th:if="${!iterStat.last}">, </span>
                                </span></td>
                <td><span th:each="stat, iterStat : ${statsMap['move_out']}" th:if="${statsMap['move_out'] != null}">
                                    <span th:text="${stat.studentName}"></span><span th:if="${!iterStat.last}">, </span>
                                </span></td>
                <td><span th:each="stat, iterStat : ${statsMap['week']}" th:if="${statsMap['week'] != null}">
                                    <span th:text="${stat.studentName} +' '+ ${stat.week}"></span><span th:if="${!iterStat.last}">, </span>
                                </span></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>

</html>