/* 13inch notebook 1280px~1440px */
@media (min-width: 1000px) and (max-width: 1440px) {
  body {
    font-size: 14px;
    /* background-color: lightgray; */
  }
  section {
    height: auto;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .main-container {
    height: auto;
  }
  .sidebar {
    height: 100vh;
  }
  .quick-nav ul {
    gap: 10px;
  }
  .quick-nav a {
    font-size: 16px;
  }
  ::placeholder,
  textarea::placeholder {
    font-size: 11px;
  }
  .title {
    font-size: 18px;
  }
  #sidebar-load {
  }
  .radio-group {
    gap: 1px;
  }
  .radio-group input[type="radio"], 
  .checkbox-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-right: 0;
  }
  label {
    font-size: 14px;
    margin-right: 5px;
  }
  .checkbox-group input[type="checkbox"] + label {
    margin-right: 10px;
    font-size: 14px;
  }
  .radio-group input[type="radio"]:checked::after,
  .checkbox-group input[type="checkbox"]:checked::after {
    font-size: 12px;
  }
  select, input, textarea, table thead th {
    font-size: 14px;
  }
  #tab3 select, #tab3 select option, .consult-record select, .consult-record select option {
    font-size: 14px;
  }
  .month-title2, .month-title {
    font-size: 20px;
  }
  /* ======================= student-main page ======================= */
  .subtitle {
    font-size: 18px;
  }
  .all-amounts,
  .pax  {
    font-size: 40px;
  }
  .unpaid.percent {
    width: 100px;
    font-size: 13px;
  }
  .status-box {
    font-size: 15px;
  }
  .info-summary {
    width: 100%;
  }
  .stu-m-con {
    width: 1200px;
  }
  .all-info {
    width: 100%;
  }
  /* ======================= student-out page ======================= */
  .chart-box {
    max-width: 700px;
  }
  /* ======================= class-titetable page ======================= */
  .stu-chocie-frame {
    width: 100%;
  }
  .svg-sort {
    width: 15px;
  }
  .student-pick-right {
    margin-left: 0;
  }
  .tab-radio label {
    padding: 5px 3px;
    font-size: 13px;
  }
  .time-regist-frame {
    padding: 0;
  }
  .size-160 {
    width: 130px;
  }
  .student-badge {
    margin: 0px 1px;
    width: 80px;
    height: 29px;
  }
  .time-start, .time-end {
    width: 90px;
  }
  .time-table th:first-child, .time-table td:first-child {
    width: 5%;
  }
  .time-table th:nth-child(2), .time-table td:nth-child(2) {
    width: 5%;
  }

  /* ======================= student-inout page ======================= */
  .save-btn {
    padding: 10px 40px;
    line-height: 1.2rem;
    font-size: 16px;
  }
  .main-info {
    width: 100%;
  }
  /* ======================= student-out page ======================= */
  .student-num-frame {
    gap: 10px;
  }
  .payment-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* ======================= class-titmetable page ======================= */
  .time-frame {
    width: 100%;
  }
  .time-tab-btn {
    padding: 6px 0;
  }
  .timeview {
    width: 100%;
  }
  .timeview > .second-frame {
    gap: 30px;
  }
  .member {
    padding: 0 0 0 30px;
  }
  .time-table-index {
    flex: 3;
  }



  /* ======================= bf-class page ======================= */
  .bf-main .second-frame {
  gap: 15px;
  }
  .bf-main {
    width: 100%;
  }
  .stbox {
    max-width: 70px;
    font-size: 13px;
    height: 27px;
  }
  .cal-adjust {
    width: 155px;
    font-size: 12px;
    margin-bottom: 0px;
    height: 30px;
  }
  .icon-btn  {
    margin-left: 0px;
  }
  .lesson-log-table th:nth-child(4) {
    width: 15%;
  }
  .lesson-log-table th:nth-child(5) {
    width: 25%;
  }
  .lesson-log-table th:nth-child(7) {
    width: 40%;
  }
  .lesson-log-table th:nth-child(8) {
    width: 40%;
  }
  .counsel-box {
    margin: 10px 5px;
  }
  .counsel-type button {
    flex-grow: 1;
    padding: 2px 4px;
    font-size: 14px;
  }
  .counsel-box {
    width: 215px;
  }
  .after-comment {
    width: 240px;
  }
  .class-log-left {
    max-width: 150px;
  }
  .week-btn {
    font-size: 14px;
  }
  /* ======================= time-view page ======================= */
  .timeview-frame {
    width: 100%;
  }
  /* ======================= bfclass page ======================= */
  .class-info-frame {
    width: 100%;
    height: auto;
    display: block;
  }
  .bf-main .student-frame > section {
    height: auto;
  }
  .before-send-section {
    margin-top: 10px;
  }
  .modify-info-frame {
    display: flex;
    align-items: center;
    line-height: 2rem;
  }
  
  /* ======================= supplement page ======================= */
  .sup-frame .icon-field {
    width: 130px;
  }
  .last-modify {
    font-size: 12px;
    margin-top: -8px;
  }
  .supplement {
    width: 100%;
  }
  .supplement .second-frame {
    gap: 15px;
  }
  .sup-frame .basic-table td {
    height: 75px;
  }
  /* ======================= monthly-test page ======================= */
  .test-table td:nth-child(1),
  .test-table th:nth-child(1) {
    width: 5px;
  }
  .test-table td:nth-child(2),
  .test-table th:nth-child(2) {
    width: 5%;
  }
  .test-table td:nth-child(3),
  .test-table th:nth-child(3) {
    width: 5%;
  }
  .test-table td:nth-child(4),
  .test-table th:nth-child(4) {
  }
  .test-table td:nth-child(5),
  .test-table th:nth-child(5) {}
  .test-table td:nth-child(6),
  .test-table th:nth-child(6) {}
  .test-table td:nth-child(7),
  .test-table th:nth-child(7) {
    width: 5%;
  }
  .test-table td:nth-child(8),
  .test-table th:nth-child(8) {
    width: 5%;
  }
  .btn-number  {
    width: 40px;
    height: 28px;
  }
  .number-grid,
  .action-buttons {
    gap: 4px;
  }
  .btn-reset, .btn-result {
    width: 85px;
    height: 28px;
  }
  .after-comment {
    width: 205px;
    height: 140px;
  }
  .counsel-box, .after-comment, .memo-etc {
    padding: 5px;
  }
  /* <!-- section: 월간평가 modal --> */
  .mf .pre-divide {
    margin-top: 40px;
  }
  .overall-top {
    margin-bottom: 40px;
  }
  .pre-table th, .pre-table td {
    height: 50px;
  }
  .overall-top p, .overall-bottom p {
    width: 100%;
  }
  .overall-top, .overall-bottom {
    height: 240px;
  }


  /* ======================= afclass page ======================= */
  .class-log-section {
    flex: 4;
  }
  .details-frame {
    width: 100%;
  }
  .log-table th:nth-child(4) {
    width: 10%;
  }
  .consult-box {
    flex-direction: column;
    height: 450px;
  }
  .consult-type {
    width: 100%;
    height: 200px;
  }
  .consult-desc {
    width: 100%;
  }
  .consult-desc th:nth-child(2) {
    width: 10%;
  }
  .jumpup-test label {
    margin: 0px 10px 0px 0px;
  }
  .attend-btn {
    font-size: 14px;
  }
  .jumpup-test .checkbox-group, 
  .book-table .checkbox-group {
    display: flex;
    justify-content: flex-start;
  }
  .book-table .checkbox-group {
    margin: 0 10px;
  }
  .personal-sms {
    display: block;
    height: auto;
  }
  .sms-type {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  .sms-table {
    background: #fff;
  }

  /* ======================= consult page ======================= */
  .counsel-write th {
  padding: 5px;
  }
  .counsel-write td:nth-child(8), 
  .counsel-write td:nth-child(9) {
    padding: 0px 5px;
  }
  .counsel-write td:nth-child(10) {
    margin: 0px 10px;
  }
  .join-btn {
    font-size: 12px;
    display: inline-block;
    width: 100px;
  }
  .counsel-write .date-input {
    width: 100%;
  }
  /* ======================= order page ======================= */
  .order-frame {
    width: 100%;
  }
  
  /* ======================= manage-sms page ======================= */
  .manage-sms-frame {
    width: 100%;
  }
  .sms-word-table td:first-child {
    width: 30%;
  }
  #check-point {
    font-size: 12px;
  }
  /* ======================= manage-teacher page ======================= */
  .manage-frame {
    width: 100%;
  }
  .manager-list,
  .manager-info {
    flex: 1;
  }

  /* ======================= menu page ======================= */
  .menu-title {
    margin: 0 30px;
  }
  .menu-logo img {
    width: 250px;
  }
  .menu-greet {
    font-size: 20px;
  }
  .menu-notice {
    font-size: 20px;
    padding: 20px 30px;
    margin: 20px 0px 30px 0px;
  }
  .menu-item img {
    width: 150px;
    margin-bottom: 0;
  }
  .menu-item:nth-last-child(2) img {
    width: 130px;
  }
  .menu-item h2 {
    font-size: 30px;
  }
  .menu-item p {
    font-size: 16px;
  }
  .menu-item {
    background: #fff;
    padding: 5px 30px 30px 30px;
  }
  .menu-item > button {
    font-size: 16px;
  }
  .input-label {
    font-size: 16px;
  }
  .input-button {
    font-size: 16px;
    padding: 0;
  }
  .menu-input {
    flex: 4;
  }
  .evaluation-button {
    font-size: 20px;
  }

  /* ======================= index page ======================= */
  .welcome-greet h1 {
    font-size: 1.6rem;
  }
  .class-title {
    font-size: 16px;
  }
  .mini-menu {
    font-size: 1.3rem;
  }
  span.number {
    font-size: 2.5rem;
  }
  .payment-num, .unpaid-num {
    font-size: 2rem;
  }
  
    /* ======================= notice page ======================= */
  .notice-inner {
    width: 1000px;
  }
}

/* join page smartphone 320 ~ 480px */
@media (min-width:320px) and (max-width:480px) {
  .join-title {
    font-size: 2rem;
  }
  .join-group h2 {
    font-size: 1.1rem;
  }
  .join-line {
    margin: 60px 0 60px 0;
  }
  .join-group p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 50px;
  }
  .join-group label {
    font-size: 14px;
  }
  #privacy-agree label,
  #guardian-agree label {
    font-size: 12px;
  }
  #clear-button {
    padding: 5px 10px;
  }
}

/* join page tablet Pc 320 ~ 480px */
@media (min-width:481) and (max-width: 768px) {

}