<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>주소 검색</title>

</head>

<body onload="init();">
<form id="form" name="form" method="post" action="https://business.juso.go.kr/addrlink/addrMobileLinkUrl.do">
    <input type="hidden" id="confmKey" name="confmKey" value="devU01TX0FVVEgyMDI1MDkyNTExMjIxNjExNjI2NDg="/>
    <input type="hidden" id="returnUrl" name="returnUrl" value="http://ststallpass.cafe24.com/juso"/>
    <input type="hidden" id="resultType" name="resultType" value="4"/>
</form>

<script type="text/javascript">
    function init() {
        const roadAddrPart1 = "[[${roadAddrPart1}]]";
        const roadFullAddr = "[[${roadFullAddr}]]";
        const addrDetail = "[[${addrDetail}]]";
        
        if (!roadAddrPart1 || roadAddrPart1.trim() === "") {
            document.form.submit(); // 주소 검색 실행
        } else {
            if (window.opener && !window.opener.closed) {
                window.opener.document.getElementById("roadFullAddr").value = roadFullAddr;
                window.opener.document.getElementById("addrDetail").focus();
            }
            window.close();
        }
    }
</script>
</body>

</html>