<aside class="sidebar" th:fragment="sidebar">
    <div class="sidebar-frame">
        <div class="sidebar-left">
            <div class="sidebar-con">
                <div class="left-top">
                    <div class="sidebar-item">
                        <a th:href="@{/index}" class="home-back" data-target="dashboard">
                            <img th:src="@{/image/hoho-icon.png}" alt="">
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a th:href="@{/main}" class="menu-toggle" data-target="dashboard">
                            <img th:src="@{/image/menu-icon.png}" alt=""><span>대시보드</span>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="#" class="menu-toggle" data-target="student">
                            <img th:src="@{/image/menu-icon1.png}" alt=""><span>학생관리</span>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="#" class="menu-toggle" data-target="class">
                            <img th:src="@{/image/menu-icon2.png}" alt=""><span>수업관리</span>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="#" class="menu-toggle" data-target="consult">
                            <img th:src="@{/image/menu-icon3.png}" alt=""><span>상담관리</span>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="#" class="menu-toggle" data-target="tuition">
                            <img th:src="@{/image/menu-icon4.png}" alt=""><span>결제관리</span>
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="#" class="menu-toggle" data-target="operation">
                            <img th:src="@{/image/menu-icon5.png}" alt=""><span>운영관리</span>
                        </a>
                    </div>
                </div>
                <div class="left-bottom">
                    <div class="sidebar-line"></div>
                    <a href="/popbill/access-url"
                       class="ecl-icon"
                       target="_blank"
                       rel="noopener noreferrer">
                        <img th:src="@{/image/popbill.png}" width="30" height="30" alt="">
                    </a>

                    <a href="/pay/access-url"
                       class="dokcl-icon"
                       target="_blank"
                       rel="noopener noreferrer">
                        <img th:src="@{/image/payTeacher.png}" width="30" height="30" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="sidebar-right collapsed">
            <div class="sub-frame">
                <div class="submenu" data-menu="dashboard">
                    <p>왼쪽 메뉴를<br> 클릭해주세요</p>
                </div>
                <!-- 1 -->
                <div class="submenu" data-menu="student">
                    <a th:href="@{/student/main}" class="menu-link">학생 정보</a>
                    <a th:href="@{/student/transfer}" class="menu-link">전입/전출</a>
                    <!--          <a th:href="@{/student/overview}" class="menu-link">학생현황 통계</a>-->
                </div>
                <!-- 2 -->
                <div class="submenu" data-menu="class">
                    <a th:href="@{/class/timetable}" id="timetableLink" class="menu-link">시간표 등록</a>
                    <a th:href="@{/class/timeview}" id=tableViewLink class="menu-link">시간표 조회</a>
                    <a th:href="@{/class/record}" class="menu-link">수업 일지</a>
                    <a th:href="@{/class/remedial}" id="remedial" class="menu-link">보강 관리</a>
                    <a th:href="@{/class/monthly}" class="menu-link">월간평가(초등)</a>
                    <a th:href="@{/class/infant}" class="menu-link">학습내용(유아)</a>
                </div>
                <!-- 3 -->
                <div class="submenu" data-menu="consult">
                    <a th:href="@{/consult/main}" class="menu-link">상담문의 기록</a>
                    <a th:href="@{/consult/test}" class="menu-link">입회진단 테스트</a>
                </div>
                <div class="submenu" data-menu="tuition">
                    <a th:href="@{/pay/pay-edu}" id="payEduLink" class="menu-link">수강료 청구</a>
                    <a th:href="@{/pay/pay-list}" id="payListLink" class="menu-link">월별 결제 관리</a>
                </div>
                <div class="submenu" data-menu="operation">
                    <a th:href="@{/manage/order}" class="menu-link">교재 주문</a>
                    <a th:href="@{/manage/reorder}" class="menu-link">교재 추가/반품</a>
                    <a th:href="@{/manage/sms}" class="menu-link">앱 공지 관리</a>
                    <a th:href="@{/manage/teacher}" class="menu-link">선생님 관리</a>
                    <a th:href="@{/manage/tuition}" class="menu-link">수강료 관리</a>
                    <!--          <a th:href="@{/manage/notice}" class="menu-link">공지사항</a>-->
                </div>
            </div>
        </div>
    </div>
</aside>