<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hohoedu.all_pass.app.AppRepository">

    <select id="findBookMainInfo" resultType="com.hohoedu.all_pass.class_instance._dto.app.ClassAppRespDTO$BookListMainRawDTO">
        SELECT g.grade_name        AS hak_info,
               book.yy             AS yyyy,
               book.mm             AS mm,
               sc.subject_name     AS week_subject,
               book.book_name      AS week_title,
               book.publisher      AS week_publisher,
               book.book_image_url AS week_bookimg
        FROM erp_book_suggest book
                 JOIN erp_grade_code g
                      ON book.class_key = g.book_class_key
                 LEFT JOIN erp_subject_code sc
                           ON book.subject_key = sc.subject_key
                 JOIN (SELECT TOP 1 yy, mm
                       FROM erp_book_suggest b
                                JOIN erp_grade_code g
                                     ON b.class_key = g.book_class_key
                       WHERE g.grade_key = #{gradeKey}
                       ORDER BY yy DESC, mm DESC) latest
                      ON book.yy = latest.yy AND book.mm = latest.mm
        WHERE g.grade_key = #{gradeKey}
        ORDER BY book.week;
    </select>

    <select id="findBookInfo" resultType="com.hohoedu.all_pass.class_instance._dto.app.ClassAppRespDTO$BookListRawDTO">
        select g.grade_name        AS hak_info,
               sc.subject_name     AS week_subject,
               book.book_name      AS week_title,
               book.publisher      AS week_publisher,
               book.book_image_url AS week_bookimg
        from erp_student s
                 JOIN erp_grade_code g ON s.grade_key = g.grade_key
                 JOIN erp_time_table_assign ta ON s.student_id = ta.student_id
                 JOIN erp_time_table t ON ta.time_table_key = t.time_table_key
                 JOIN erp_book_suggest book ON t.class_key = book.class_key and t.yy = book.yy and t.mm = book.mm
                 LEFT JOIN erp_subject_code sc ON book.subject_key = sc.subject_key
        WHERE s.student_id = #{studentId}
          AND t.yy = #{yy}
          AND t.mm = #{mm}
        order by t.yy, t.mm, book.week
    </select>

    
    <select id="selectClassWeek" resultType="com.hohoedu.all_pass.app._dto.AppRespDTO$ClassWeekDTO">
        SELECT week, mon, tue, wed, thu, fri, sat, sun
        FROM erp_class_week
        WHERE year  = #{year}
          AND month = #{month}
          AND center_code = #{centerCode}
        ORDER BY week
    </select>

    <select id="findQnaList" resultType="com.hohoedu.all_pass.app._dto.AppRespDTO$QnaRespDTO">
        SELECT question, answer
        FROM erp_app_question
        WHERE (#{gubun} = 0 OR gubun = #{gubun});
    </select>



</mapper>