<div class="modal inout-modal" id="transfer-modal" th:fragment="studentInoutModal">
    <div class="move-list">
        <div class="move-list-frame">
            <div class="m-t-line">
                <div class="title">전입/전출 내역</div>
                <a href="#" class="btn-close"></a>
            </div>
            <div class="modal-bflex">
                <div class="icon-field basic-input cal-adjust">
                    <span id="transfer-month-display"></span>
                    <div style="position:relative;">
                        <input type="month" id="transfer-month-picker"
                               style="position:absolute; opacity:0; pointer-events:none; width:0;">
                        <button class="icon-btn" id="transfer-calendar-btn" style="background:transparent;">
                            <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                        </button>
                    </div>
                </div>
                <div class="checked-btns">
                    <div class="common-btn checked-btn" id="delete-transfer-btn">선택한 내역 삭제</div>
                </div>
            </div>
            <div class="mt">
                <div class="table-frame move-frame">
                    <table class="basic-table content-table yh">
                        <colgroup>
                            <col width="5%">
                            <col width="5%">
                            <col width="15%">
                            <col width="10%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="10%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="checkbox-group">
                                <input type="checkbox" id="transfer-check-all">
                            </th>
                            <th>No</th>
                            <th>일자</th>
                            <th>이름</th>
                            <th>수강과목</th>
                            <th>전출 선생님</th>
                            <th>전입 선생님</th>
                            <th>상태</th>
                            <th>사유</th>
                        </tr>
                        </thead>
                        <tbody class="stripe" id="transfer-history-tbody">
                        <tr>
                            <td colspan="9" style="text-align:center;">조회된 내역이 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>