<div class="modal inout-modal" id="transfer-modal" th:fragment="studentInoutModal">
    <div class="move-list">
        <div class="move-list-frame">
            <div class="m-t-line">
                <div class="title">전입/전출 내역</div>
                <a href="#" class="btn-close"></a>
            </div>
            <div class="modal-bflex">
                <div class="icon-field basic-input cal-adjust">
                    <span>2024-07 ~ 2025-06</span>
                    <button class="icon-btn" style="background: transparent;">
                        <img th:src="@{/image/calendar.png}" alt="달력 아이콘">
                    </button>
                </div>
                <div class="checked-btns">
                    <div class="common-btn checked-btn">선택한 내역 삭제</div>
                </div>
            </div>
            <div class="mt">
                <div class="table-frame move-frame">
                    <table class="basic-table content-table yh">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="15%">
                            <col width="10%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="checkbox-group">
                                <input type="checkbox">
                            </th>
                            <th>No</th>
                            <th>일자</th>
                            <th>이름</th>
                            <th>수강과목</th>
                            <th>전출 선생님</th>
                            <th>전입 선생님</th>
                            <th>사유</th>
                        </tr>
                        </thead>
                        <tbody class="stripe">
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        <tr>
                            <td class="checkbox-group">
                                <input type="checkbox">
                            </td>
                            <td>1</td>
                            <td>2025-06-01</td>
                            <td>김호일</td>
                            <td>한스쿨</td>
                            <td>김하나</td>
                            <td>이성하</td>
                            <td>인원 미달로 합반</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>